.vs/Everware/DesignTimeBuild/.dtbcache.v2
.vs/Everware/FileContentIndex/33966ad1-3392-4104-bb7a-085e70222b2f.vsidx
.vs/Everware/FileContentIndex/43746f95-ada2-41af-9235-a1c69d5b9b22.vsidx
.vs/Everware/FileContentIndex/6db19a10-fb74-406e-9f13-7d9534302de9.vsidx
.vs/Everware/FileContentIndex/817861e2-ab2d-4f31-a41a-391f1a69bff5.vsidx
.vs/Everware/FileContentIndex/9d177d3c-15f2-40d5-9ec6-a4445d3644c0.vsidx
.vs/Everware/FileContentIndex/a474416e-f1f9-4ee3-87a8-27a70739d13d.vsidx
.vs/Everware/FileContentIndex/bd04a3f3-2794-4866-993c-2d70f947a642.vsidx
.vs/Everware/FileContentIndex/cba63e20-d4a2-466a-a552-b3996b73afd2.vsidx
.vs/Everware/FileContentIndex/e3d68a07-e07e-4388-820f-e39e75b96646.vsidx
.vs/Everware/FileContentIndex/fb0b9609-d586-4008-b908-1df774686057.vsidx
.vs/Everware/v18/.suo
.vs/Everware/v18/DocumentLayout.backup.json
.vs/Everware/v18/DocumentLayout.json
bin/Debug/net8.0/Everware.dll
bin/Debug/net8.0/Everware.pdb
.vs/Everware/DesignTimeBuild/.dtbcache.v2
.vs/Everware/FileContentIndex/33966ad1-3392-4104-bb7a-085e70222b2f.vsidx
.vs/Everware/FileContentIndex/43746f95-ada2-41af-9235-a1c69d5b9b22.vsidx
.vs/Everware/FileContentIndex/6db19a10-fb74-406e-9f13-7d9534302de9.vsidx
.vs/Everware/FileContentIndex/cba63e20-d4a2-466a-a552-b3996b73afd2.vsidx
.vs/Everware/FileContentIndex/fb0b9609-d586-4008-b908-1df774686057.vsidx
.vs/Everware/v18/.suo
.vs/Everware/v18/DocumentLayout.backup.json
.vs/Everware/v18/DocumentLayout.json
bin/Debug/net8.0/Everware.dll
bin/Debug/net8.0/Everware.pdb
obj/Debug/net8.0/Everware.AssemblyInfo.cs
obj/Debug/net8.0/Everware.AssemblyInfoInputs.cache
obj/Debug/net8.0/Everware.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Everware.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Everware.dll
obj/Debug/net8.0/Everware.pdb
obj/Debug/net8.0/ref/Everware.dll
obj/Debug/net8.0/refint/Everware.dll
obj/Debug/net8.0/Everware.sourcelink.json
